body {
  background: linear-gradient(to right, red, purple, blue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: Arial;
}

h1 {
  font-size: 70px;
  text-shadow: 0 0 20px white;
}

p {
  font-size: 25px;
  color: lightgray;
}
